:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: #fff;
}

/*================= Components======================= */
/* Basic styles */
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

/* Basic styles */
.header-logo-color {
  color: #2e2f42;
}

/* Basic styles */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Basic styles */
.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0%;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*================= Components======================= */
/* =================Header=========================== */
/* Basic styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
  .adress {
    display: none;
  }
  .modal-menu-open-btn {
    padding: 0;
    height: 22px;
    border: none;
    background-color: transparent;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .modal-menu-open-btn {
    display: none;
  }
}

/* Basic styles */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .header-nav-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #404bbf;
  }

  .header-nav-link::after {
    position: absolute;
    left: 0;
    bottom: -1.5px;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }

  .header-nav-link.active::after {
    background-color: #404bbf;
  }
  .contact-link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--primary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .contact-link {
    font-size: 16px;
  }
}
/* Mobile styles */ /* Mobile styles */ /* Mobile styles */

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 4px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 35px;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
}
.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  fill: #fff;
}
.mobile-header-menu-list {
  margin-bottom: auto;
}
.mobile-header-menu-link.active {
  color: #404bbf;
}
.mobile-header-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-header-menu-link:hover,
.mobile-header-menu-link:focus {
  color: #404bbf;
}
.mobile-header-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
/*  */
.mobile-address {
  margin-bottom: 48px;
}
.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contact-link-tel {
  color: #434455;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-contact-link {
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mobile-contact-link-tel:hover,
.mobile-contact-link-tel:focus {
  color: #4d5ae5;
}
.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: #4d5ae5;
}
.mobile-contact-link-tel.active {
  color: #4d5ae5;
}
/*  */
/* Mobile styles */
.mobile-social-list {
  display: flex;
  justify-content: start;
  gap: 30px;
}

@media only screen and (min-width: 428px) {
  .mobile-social-list {
    gap: 56px;
  }
}
.mobile-social-icon-item {
  width: 40px;
  height: 40px;
}
.mobile-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-icon-link:hover,
.mobile-social-icon-link:focus {
  background-color: #404bbf;
}
.mobile-social-icon-list {
  fill: #f4f4fd;
}

/* Mobile styles */ /* Mobile styles */ /* Mobile styles */

/* ========================Header===================== */
/* ==========================Hero==================== */

/* Basic styles */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-hero-img.jpg);
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
/* Basic styles */
@media only screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  only screen and (min-resolution: 192dpi) and (max-width: 767px),
  only screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-hero-img@2x.jpg);
  }
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-hero-img.jpg);
    max-width: 768px;
  }
}
/* Tablet styles >=768px */
@media only screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  only screen and (min-resolution: 192dpi) and (min-width: 768px),
  only screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-hero-img@2x.jpg);
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desctop-hero-img.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  only screen and (min-resolution: 192dpi) and (min-width: 1158px),
  only screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desctop-hero-img@2x.jpg);
  }
}
/* Basic styles */

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

/* Basic styles */
.modal-btn {
  padding: 16px 32px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
/* ==========================Hero==================== */
/*====================company philosophy ===========*/
/* Basic styles */
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* Basic styles */
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .features-list {
    flex-wrap: nowrap;
  }
}
/* Basic styles */
.features-icon-container {
  display: none;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
/* Basic styles */
.features-list-title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .features-list-title {
    text-align: left;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
/* Basic styles */
.features-list-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .features-list-description {
    font-weight: 400;
  }
}

/*====================company philosophy ===========*/
/* ===================Areas of work =================*/
/* Basic styles */
.projects {
  display: none;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .projects {
    display: block;
    padding-bottom: 120px;
  }
  .projects-title {
    margin-bottom: 72px;
    color: var(--secondary-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .projects-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ===================Areas of work =================*/
/* ===================Team===========================*/

/* Basic styles */
.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* Basic styles */
.team-title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Basic styles */
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

/* Basic styles */
.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

/* Basic styles */
.card-team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

/* Basic styles */
.team-list-title {
  margin-bottom: 8px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/* Basic styles */
.team-list-profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
/* Basic styles */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* Basic styles */
.social-icon-item {
  width: 40px;
  height: 40px;
}
/* Basic styles */
.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}
/* Basic styles */
.social-icon-list {
  fill: #f4f4fd;
}
/* ===================Team===========================*/
/*=================== Customers====================== */
/* Basic styles */
.Customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .Customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* Basic styles */
.Customers-title {
  color: var(--secondary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

/* Basic styles */
.Customers-list {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .Customers-list {
    column-gap: 24px;
  }
}

/* Basic styles */
.Customers-list-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .Customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .Customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

/* Basic styles */
.Customers-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.Customers-link:hover,
.Customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
/* Basic styles */
.Customers-list-icon {
  fill: currentColor;
}

/* ===================Customers====================== */
/*====================== Clients======================= */
/* Basic styles */
.clients {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .clients {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .clients {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
/* Basic styles */
.clients-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .clients-filter-list {
    justify-content: center;
    margin-bottom: 64px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .clients-filter-list {
    margin-bottom: 72px;
  }
}

/* Basic styles */
.clients-filter-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #f4f4fd;
  border-radius: 4px;
  align-items: flex-start;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.clients-filter-btn:hover,
.clients-filter-btn:focus {
  background-color: #404bbf;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Basic styles */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}
/* Tablet styles >=768px */
/*  */
@media only screen and (min-width: 768px) {
  .clients-list {
    justify-content: left;
    column-gap: 24px;
    row-gap: 72px;
  }
}
/*  */
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158hpx) {
  .clients-list {
    row-gap: 48px;
  }
}
/* Basic styles */
.clients-list-img {
  width: 100%;
  height: 100%;
}
/*  */
/* Basic styles */
.clients-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.clients-list-overlay {
  position: relative;
  overflow: hidden;
}
/* Basic styles */
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.clients-list-link:hover .overlay,
.clients-list-link:focus .overlay {
  transform: translateY(0%);
}
/* Basic styles */
.clients-list-link:hover,
.clients-list-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Basic styles */
.client-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* Basic styles */
.clients-filter-btn:hover,
.clients-filter-btn:focus {
  background-color: #404bbf;
  color: #fff;
  border: 1px solid transparent;
}
/* Basic styles */
.clients-filter-title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
/* Basic styles */
.clients-filter-description {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* =====================Clients========================= */
/* ===================Footer========================== */
/* Basic styles */
.footer {
  background-color: var(--secondary-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/* Basic styles */
.logo-footer {
  display: flex;
  justify-content: center;
  color: #4d5ae5;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .logo-footer {
    justify-content: left;
  }
}
/* Basic styles */
.footer-logo-color {
  color: #f4f4fd;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
  }
}
/* Basic styles */
.footer-description {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .social-media {
    margin-right: auto;
  }
}
/* Basic styles */
.social-media-title {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 16px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .social-media-title {
    text-align: left;
  }
}
/* Basic styles */
.footer-list {
  display: flex;
  gap: 16px;
}
/* Basic styles */
.footer-list-item {
  width: 40px;
  height: 40px;
}
/* Basic styles */
.footer-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}
/* Basic styles */
.footer-list-icon {
  fill: #f4f4fd;
}

/* Basic styles */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 584px;
    justify-content: left;
    column-gap: 24px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    align-items: baseline;
  }
}
/* Basic styles */
.footer-form-wrapper {
  width: 100%;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    width: auto;
  }
}
/* Basic styles */
.footer-form-description {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-description {
    text-align: left;
  }
}

/* Basic styles */
.footer-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
/* Basic styles */
.footer-form-input::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}
/* Basic styles */
.footer-form-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  display: flex;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Basic styles */
.footer-form-btn-description {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
/* Basic styles */
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* Basic styles */
.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 16px;
}
/* Tablet styles >=768px */
@media only screen and (min-width: 768px) {
  .footer-form {
    column-gap: 24px;
  }
}
/* Desctop styles >=1158px */
@media only screen and (min-width: 1158px) {
  .footer-form {
    gap: 24px;
  }
}
/* ===================Footer========================== */
/* ===================Modal Window==================== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

/* Mobile styles */
@media only screen and (max-width: 427px) {
  .modal-window {
    width: 90%;
  }
}
/* Mobile styles */
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .modal-window {
    width: 392px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/* ===================Modal Window==================== */
/* ===================Modal Form==================== */
.modal-form-name {
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 4px;
}
.modal-form-inp-desc {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-massage {
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-massage:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-massage::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.modal-form-check-description {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
  user-select: none;
  margin-right: auto;
}
.modal-form-link-policy {
  color: #4d5ae5;
}

.unchecked {
  flex-shrink: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .form-custom-check > .unchecked {
  opacity: 0;
}
.modal-form-check:checked + .form-custom-check > .checked {
  opacity: 1;
}
/* ===================Modal Form==================== */
